* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;

    &:focus-visible {
        outline: none;
    }
}

html {
    font-size: clamp(0.8125rem, 0.6696rem + 0.2857vw, 1.5625rem);
}

body {
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    min-height: 100svh;

    color: var(--secColor);
    background: radial-gradient(circle at center, #12181f 0%, #090a0f 100%);
    background-repeat: no-repeat;
}

a,
button {
    cursor: pointer;
}

button {
    background: none;
    border: none;
}