<div *ngIf="isLoading; else loadedContent">
  <p>Loading...</p>
</div>

<ng-template #loadedContent>
  <div *ngIf="currentPeople && currentPeople.length > 0">
    <ul>
      <li *ngFor="let person of currentPeople">
        <h1>{{ person.name }}</h1>
        <button (click)="onPersonClick(person.name)">Details</button>
      </li>
    </ul>

    <button (click)="onPreviousPage()" [disabled]="!previousPage"
      [ngClass]="{ 'buttonDisabled': !previousPage }">Previous</button>
    <button (click)="onNextPage()" [disabled]="!nextPage" [ngClass]="{ 'buttonDisabled': !nextPage }">Next</button>

  </div>

  <div *ngIf="currentPeople && currentPeople.length === 0">
    <p>No people found</p>
  </div>
</ng-template>