.planetsMain {
    .listsContainer {
        legend {
            &::after {
                background-color: var(--warningRed);
            }
        }

        ul {
            li {
                h2 {
                    background-color: var(--warningRed);
                }   
                img {
                    // height: 30rem;
                    width: 26.5rem;
                }
            }
        }

        .switchPage {
            .divider{
                background-color: var(--warningRed);
            }

            button {
                &::after {
                    background-color: var(--warningRed);
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .planetsMain {
        .listsContainer {
            ul {
                li {
                    width: 48%;

                    img {
                        height: unset;
                        width: 100%;
                    }
                }
            }
        }
    }
}